nav a {
    vertical-align: middle;
}

nav form.searchbox {
    margin-top: 0px
}

.home {
    vertical-align: top;
}
.home, .home_contents{
    display: inline-block;
}

.home_contents form.searchbox {
    display: block;
    max-width: 230px;
}

@media only screen and (max-width: 600px) {
    nav form.searchbox {
        margin-top: 10px;
    }
}

form.searchbox {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block
}

form.searchbox span {
    vertical-align: middle;
    color: lightgray
}

form.searchbox input {
    width: 200px;
    border-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav form.searchbox input {
    max-width: 100px;
}

form.searchbox input::placeholder {
    color: grey;
}

article .text h2, h3, h4, h5, h6 {
    margin-top: 40px;
    padding-bottom: 0.3em;
    margin-bottom: 0.7em;
}

article .text h2, h3 {
    border-bottom: 1px solid lightgray;
}

body>footer .details h4, .post-footer .details h4 {
    margin-top: 15px;
    margin-bottom: 0px;
}

p, blockquote{
    margin-bottom: 0.5em;
}

.text figure {
    margin-left: auto;
    margin-right: auto;
    display: table;
    max-width: 90%;
    margin-bottom: 20px
}

.text figure > img { display: block; margin-bottom: 2px;}
.text figure > figcaption { display: table-caption; caption-side: bottom; }

div .youtube-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.youtube-video {
    position: relative;
    padding-bottom: 50.625%;
}

.youtube-video > iframe { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

table.dataframe  {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
}

table.dataframe > th { 
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
 }

table.dataframe > td {
        padding-left: 0.3em;
        padding-right: 0.3em;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation div {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.MathJax_Display{
    overflow-x: auto;
    overflow-y: hidden;
}

.MathJax_Display #MathJax_Zoom {
    display: none;
}

.tag_and_buttons {
    text-align: center;
    color: #999;
    margin-bottom: 15px;
}

.tag_and_buttons > span.meta {
    font-size: 14px;
}

.tag_and_buttons a {
    color: #999;
}

.tag_and_buttons a:hover {
    color: #d35c5c;
}

.tag_and_buttons > span.sharebuttons {
    font-size: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .tag_and_buttons > span.sharebuttons {
        display: block;
        margin-top: 15px;
    }
}

article .text table.center_table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

article .text table.narrow_padding td {
    padding: 7px;
}

.search_template .search_result {
    line-height: 130%;
    max-width: 680px;
    margin: 0 auto
}

.search_template article h1 {
    padding: 0 8px;
}

.search_template .gsc-control-cse {
    margin: 0;
    padding: 0;
}

.search_template table {
    border-collapse: inherit;
}

.search_template .gs-result .gs-title {
    margin-bottom: 0.4em;
    height: inherit;
    line-height: 130%;
}

