---
layout: post_list
body_class: "tag-template user"
---

<article>
    <header>
        <h1 id="title">Tag</h1>
    </header>
</article>

{% for tag in site.tags %}
{% assign nposts = tag | last | size %}
<div id="{{ tag | first | escape }}" class="collection" data-name="{{ tag | first | escape }}">
    <h1><a href="#{{ tag | first }}">{{ tag | first }}</a><span class="nposts">{{ nposts }} post{% if nposts != 1 %}s{% endif %}</span></h1>
    <ul>
    {% for posts in tag %}
        {% for post in posts %}
        {% if post.title %}
            <li>
                <p><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            </li>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% endfor %}
