<header role="banner">
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <hr>

    <nav class="site-nav">
    <div class="trigger">
      <a class="page-link" href="{{ site.baseurl }}/category.html">Categories</a>
      <a class="page-link" href="{{ site.baseurl }}/tag.html">Tags</a>
      {% for page in site.pages %}
        {% if page.title %}
          {% unless page.title == 'Categories' or page.title == 'Tags'%}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
    </nav>

</div>
</header>
