<div class="ipython">
    {% if include.code %}
    <div class="in">
        <div class="prompt">
            In [{% if include.num %}{{ include.num }}{% else %}&nbsp;{% endif %}]:
        </div>
        <div class="code">
            {% highlight python %}{{ include.code }}{% endhighlight%}
        </div>
    </div>
    {% endif %}
    {% if include.result %}
    <div class="out">
        <div class="prompt">
            Out[{% if include.num %}{{ include.num }}{% else %}&nbsp;{% endif %}]:
        </div>
        <div class="result">
            {{ include.result }}
        </div>
    </div>
    {% endif %}
</div>
    