h2, h3, h4, h5, h6,
{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
p, blockquote{
    margin-bottom: 0.5em;
}
pre, code {
    font-family: Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', monaco, monospace;
    padding-bottom: 0.5em;
    margin-bottom: 0.6em;
}

pre, code, .highlight {
    padding-bottom: 0.6em;
    margin-bottom: 0.6em;
}