---
layout: default
body_class: post-template
---
{% if page.image %}
<div id="feature_image">
  <div class="inner" style="background-image: url('{{ site.baseurl }}/images//{{ page.image }}')">
    <img src='{{ site.baseurl }}/images/{{ page.image }}'>
    </div>
</div>
{% endif %}
<div id="container">
  <article role="main" class="{% if page.image %}image{% endif %}">
      <header>
        <a href="{{ site.baseurl }}/" id="home_link">«</a>
        <div class="meta">
          <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
          {% if page.categories.size > 0 %}
            <span>in <a href="{{ site.baseurl }}/category.html#{{ page.categories | first }}">{{ page.categories | first }}</a>&nbsp;&nbsp;/</span>
          {% endif %}
          {% for tag in page.tags %}
            <span><a href="{{ site.baseurl }}/tag.html#{{ tag }}">#{{ tag }}</a>
          {% endfor %}
          <span class="count" id="js-reading-time">&nbsp;</span>
        </div>
        <h1>{{ page.title }}</h1>
      </header>

      <div class="text" id="js-post-content">
          {{ content }}
      </div>

      <div class="sharebuttons">
        <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter" >
          <i class="icon icon-twitter" title="Share on Twitter"></i>
        </a>
        <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog',  'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook">
          <i class="icon icon-facebook" title="Share on Facebook"></i>
        </a>
        <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url='+encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;" target="_blank" alt="Share on kakaostory">
          <i class="icon icon-kakaostory" title="카카오스토리에 공유하기"></i>
        </a>
        <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url='+encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Naver">
          <i class="icon icon-naver" title="네이버에 공유하기"></i>
        </a>
        
      </div>
  </article>



  {% include ls/page_navigation.html %}

  {% include ls/disqus.html %}

</div>

{% include footer.html %}

<script>
$('#js-post-content').load(reading_time());
function get_text(el) {
  ret = "";
  var length = el.childNodes.length;
  for(var i = 0; i < length; i++) {
    var node = el.childNodes[i];
    if(node.nodeType != 8) {
      ret += node.nodeType != 1 ? node.nodeValue : get_text(node);
    }
  }
  return ret;
}
function reading_time () {
  var post_content = document.getElementById('js-post-content');
  if (post_content) {
    var words = get_text(post_content),
      count = words.split(/\s+/).length,
    read_time = Math.ceil((count / 150)),
        read_time_node = document.createTextNode('/\u00A0\u00A0' + read_time + ' min read');
    document.getElementById('js-reading-time').appendChild(read_time_node);
  }
}
</script>
